*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Netflix Sans;
  src: url(../src/fonts/NetflixSans-Regular.otf);
}
.secondary{
  background: rgba(109, 109, 110, 0.7);
  color: #fff;
  font-weight: bold;
}
body{
  background: #141414;
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
nav{
  width: 100%; 
  position: fixed;
  background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
  align-items: center;
  z-index: 1;
}

nav ul{
  display: flex;
  height: 68px;
  flex-direction: row;
  align-items: center;
}
nav ul li{
  flex-direction: row;
  list-style-type: none;
  margin-left: 20px;
}

nav ul li:first-child{
  font-weight: bold;
}
nav ul li a{
  color: #fff;
  text-decoration: none;
}
nav, .wrapper{
  padding: 0 4rem;
}
.hero__banner>.wrapper{
  position: relative;
  color: #000;
  margin: auto 0;
}
.hero__banner{
  position: relative;
  /* background-image: url("../public/images/oitnb.jpeg"); */
  background-size: cover;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /* min-width: 100%; */
}
 
.hero__img{
  max-width: 100%;
  background-size: cover; 

}

.banner__shadow{
  background: linear-gradient(180deg,transparent,rgba(14,14,14,.6),#141414);
  width: 100%;
  position: absolute;
  height: 4rem;
  bottom: 0;
}

.movie__logo{
  max-width: 450px;
  height: auto;
  top: 30%;
}

.detail__container{
  color:#fff;
  width: 45%;
  margin-top: 40px;
  margin: auto 0;
}
.detail__container h1{
  font-size: 5rem;
  line-height: 1;
  text-shadow: 2px 1px 5px #616161;
  margin-bottom: 0.5em;
}
.detail__container p{
  text-shadow: 2px 2px 4px rgba(0,0,0,.45);
}

.movie__container h2{
  line-height: 1;
  margin-bottom: 0.5em;
}

.play-btn, .more-info-btn{
  padding: 0.8rem 2.2rem 0.8rem 2.6rem;
  margin-right: 1rem;
  border: none;
  font-weight: bolder;
  border-radius: 4px;
}

.action-btns{
  margin-top: 1rem;
}

.slider img{
  max-width: 215px;
  /* //This is to prevent the image from capturing the hover event */
  pointer-events: none; 
}

.movie__carousel{
  margin: 3em 0;
}
.slider__container{
  margin: 3vw 0;
}
.slider{
  display: flex;  
  margin-left: 10px;
  overflow: hidden;
}
.carousel__img__container{
  margin-right: 0.6rem;
  border-radius: 10px;
  flex-shrink: 0;
}

.carousel__img__container:hover {
  cursor: pointer;
  /* transform: scale(1.5); */
  box-shadow: rgba(0, 0, 0,0.75) 0 3px 10px;
}

.modal__container{
  padding: 1em;
  /* background: #141414; */
  display: none;
  /* pointer-events: none; */
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.play-icon{
  background-color: white;
  border-radius: 50%;
  border: 1px solid transparent;
}
.play-icon:hover{
  background: #ddd;
}
.add-icon,.thumbs-icon,.down-icon{
  border-radius: 50%;
  border: 1px solid #aaa;
    border-radius: 50%;
}
.add-icon:hover,.thumbs-icon:hover,.down-icon:hover{
  background: #333;
  border:1px solid #fff
}

.play-icon, .add-icon,.thumbs-icon,.down-icon{
  margin: 0.2em;
  display: flex;
  height: 22px;
  width: 22px;
}

.play-icon > svg, .add-icon > svg,.thumbs-icon > svg,.down-icon > svg{
  margin: auto;
  max-width: 20px;
  max-height: 20px;
}

.card__actions{
  flex-direction: row;
  display: flex;
  padding-bottom: 1em;
}

.movie__info, .movie__tags{
  flex-direction: row;
  display: flex;
  font-size: .7rem;
  color: #bcbcbc;
}

.movie__info *, .movie__tags *{
  margin-right: .5em;
}

.movie__info{
  margin-bottom: 0.8em;
}

.movie__info > .match{
  color: #46D369;
  font-weight: bold;
}

.movie__info > .age{
  border: solid 1px rgba(255, 255, 255, 0.4);
  padding: 0 0.4em;
}

/* Thumbs icon wont scale with height or width property. Work around to get the correct proportions */
.thumbs-icon > svg{
  transform: scale(0.7);
}

.slider img{
  border-radius: 4px;
}
.down-icon{
  align-items: flex-end;
  margin: auto 0 auto auto;
}
main{
  /* margin-top: -13.5rem; */
  padding-left: 4rem;
}
.arrow-next{
  position: absolute;
  right: 0;
  cursor: pointer;
}
.modal-close{
  display: none;
}
.modal-active{
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #141414;

}
.movie-info{
  padding: 1.6em 2.3em;
}
.modal img{
  max-width: 100%;
}